<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user6::modify</title>
	</head>
	<body>
		<h3>user6 수정</h3>
		<a th:href="@{/}">메인</a>
		<a th:href="@{/user6/list}">user6 목록</a>
		
		<form th:action="@{/user6/modify}" method="post">
			<table>
				<tr>
					<td>이름</td>
					<td><input type="text" name="name" th:value="${user.name}" readonly="readonly"></td>
				</tr>
				<tr>
					<td>생일</td>
					<td><input type="date" name="birth" th:value="${user.birth }"></td>
				</tr>
				<tr>
					<td>성별</td>
					<td th:if="${user.gender == 1}">
						<label>남<input type="radio" name="gender" value="1" checked></label>
						<label>여<input type="radio" name="gender" value="2"></label>
					</td>
					<td th:unless="${user.gender == 1}">
						<label>남<input type="radio" name="gender" value="1"></label>
						<label>여<input type="radio" name="gender" value="2" checked></label>
					</td>
				</tr>
				<tr>
					<td>나이</td>
					<td><input type="number" name="age" th:value="${user.age }"></td>
				</tr>
				<tr>
					<td>주소</td>
					<td><input type="text" name="addr" th:value="${user.addr }"></td>
				</tr>
				<tr>
					<td>휴대폰</td>
					<td><input type="text" name="hp" th:value="${user.hp}"></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input type="submit" value="수정"></td>
				</tr>
			</table>
		</form>
		
	</body>
</html>