<th:block th:include="@{_header.html}" xmlns:th="http://www.w3.org/1999/html"/>
<th:block th:include="@{board/__${group}__.html}"/>
<script>
$(document).ready(function() {

	// 댓글 삭제하기
	$(document).on('click','.delete',function(e){
		e.preventDefault();

		let article = $(this).closest('article');
		let result = confirm('정말 삭제 하시겠습니까?');

		if(result){
			let no = $(this).attr('data-no');
			let parent = $(this).attr('data-parent');

			let jsonData = {
					"no":no,
					"parent":parent
			};

			$.ajax({
				url:'/farmstory/board/commentDelete',
				type:'post',
				data:jsonData,
				dataType:'json',
				success:function(data){

					if(data.result > 0){
						alert('댓글 삭제 완료!');
						article.hide();

					}
				}
			});
		}
	});

	// 댓글 수정하기
	$(document).on('click','.modify',function(e){
		e.preventDefault();

		let txt = $(this).text();
		let p = $(this).parent().prev();
		if(txt=="수정"){
			// 수정모드
			$(this).text('수정완료');
			p.attr('contentEditable',true);
			p.focus();
		}else{
			// 수정완료
			$(this).text('수정');
			p.attr('contentEditable',false);

			let no = $(this).attr('data-no');
			let content = p.text();

			let jsonData = {
					"content":content,
					"no":no
			};

			$.ajax({
				url:'/farmstory/board/commentModify',
				type:'POST',
				data:jsonData,
				dataType:'json',
				success:function(data){

					if(data.result > 0){
						alert('댓글 수정 완료!');
					}else{
					    alert('댓글 수정 실패!');
					}

				}
			});
		}


	});

	// 댓글 쓰기

	$('.commentForm > form').submit(function() {

		let pg = $(this).children('input[name=pg]').val();
		let parent = $(this).children('input[name=parent]').val();
		let content = $(this).children('textarea[name=content]').val();
		let uid = $(this).children('input[name=uid]').val();

		let jsonData = ({
			"pg":pg,
			"parent":parent,
			"content":content,
			"uid":uid
		});

		console.log(jsonData);

		$.ajax({
			url:'/farmstory/board/commentWrite',
			method:'post',
			data:jsonData,
			dataType:'json',
			success:function(data){

				let article = "<article class='comment'>";
					article += "<span class='nick'>"+data.comment.nick+"</span>&nbsp;";
					article += "<span class='date'>"+data.comment.rdate.substring(2,10)+"</span>";
					article += "<p class='comment'>"+data.comment.content+"</p>";
					article += "<div>";
					article += "<a href='#' class='delete' data-no='"+data.comment.no+"'>삭제</a>&nbsp;";
					article += "<a href='#' class='modify' data-no='"+data.comment.no+"'>수정</a>";
					article += "</div>";
					article += "</article>";

				$('.commentList > .empty').hide();
				$('.commentList').append(article);
				$('textarea[name=content]').val('');

			}
		});

		return false;
	});
});
</script>
        <main id="board" class="view">

            <table>
                <caption>글보기</caption>
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" th:value="${article.title}" readonly/></td>
                </tr>
                <tr th:if="${article.file == 1}">
                    <th>파일</th>
                    <td><a th:href="@{/download(fno=${article.fileVO.fno})}">[[${article.fileVO.oriName}]]</a><span th:text="${article.fileVO.download}">7</span>회 다운로드</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea name="content" readonly>[[${article.content}]]</textarea></td>
                </tr>
            </table>

            <div>
                <a th:href="@{#}" class="btn btnRemove">삭제</a>
                <a th:href="@{/board/modify(no=${article.no},group=${group},cate=${cate},pg=${pg})}" class="btn btnModify">수정</a>
                <a th:href="@{/board/list(group=${group},cate=${cate},pg=${pg})}" class="btn btnList">목록</a>
            </div>

            <!-- 댓글목록 -->
            <section class="commentList">
                <h3>댓글목록</h3>
                    <article class="comment" th:if="${comments.size() != 0}" th:each="comment : ${comments}">
                        <span class="nick" th:text="${comment.nick}"></span>
                        <span class="date" th:text="${comment.rdate.substring(2,10)}"></span>
                        <p class="comment" th:text="${comment.content}"></p>
                        <div>
                            <th:block th:if="${#authentication.principal.user.uid.equals(comment.uid)}">
                                <a href="#" class="delete" th:data-no="${comment.no}" th:data-parent="${comment.parent}">삭제</a>
                                <a href="#" class="modify" th:data-no="${comment.no}">수정</a>
                            </th:block>
                        </div>
                    </article>
                    <p class="empty" th:if="${comments.size()==0}">등록된 댓글이 없습니다.</p>
            </section>

            <!-- 댓글쓰기 -->
            <section class="commentForm">
                <h3>댓글쓰기</h3>
                <form th:action="@{#}">
                    <input type="hidden" name="pg" th:value="${pg}">
                    <input type="hidden" name="parent" th:value="${no}">
                    <input type="hidden" name="uid" th:value="${#authentication.principal.user.uid}">
                    <textarea name="content" placeholder="댓글내용 입력"></textarea>
                    <div>
                        <a th:href="@{#}" class="btn btnCancel">취소</a>
                        <input type="submit" class="btn btnComplete" value="작성완료"/>
                    </div>
                </form>
            </section>
        </main>
</article>
</section>
</div>
<th:block th:include="@{_footer.html}"/>